body {
    background-image: url('https://www.mckinsey.com/~/media/mckinsey/industries/public%20and%20social%20sector/our%20insights/how%20to%20make%20a%20city%20great/citiesnew_largefeature_1536x1152.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
